.post-card{
    margin-bottom: 40px;
    .post-content{
        display: flex;
        color: #555;
        font-size: 18px;
        .sec-1{
            padding-right: 12px;;
            width:60%;
            h2{
                color:black;
                font-size: 26px;;
            }
            .desc{
                font-size: 18px;
            }
        }
        .sec-2{
            .figure-content{
                height: 150px;
            }
            width:40%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 4px;
            }
        }
    }
}