a{
    text-decoration: none;
  }
  
  /* starts */
  
  .header.top {
    background: #374a74;
    margin-bottom: 80px;
  }
  
  .footer {
    background: #1a1919ef;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  
  .navbar li {
    list-style: none;
    padding: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }

  .advertisement {
    margin-bottom: 50px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background: rgb(214, 214, 214);
}

.advertisement span {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: rgb(90, 90, 90);
}


.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: #5890ff;
  }

  .posts .post{
    margin:30px 0;
  }